# Mac OSX Files
.DS_Store
.Trashes
.LSOverride

# Node Modules
node_modules
npm-debug.log

# General Files
.sass-cache
.hg
.idea
.svn
.cache
.project
.tmp
.eslintignore
.flowconfig
.travis.yml
.babelrc
.editorconfig
.storybook
yarn.lock
.husky

# Project files
coverage
stories
tests
examples
__tests__
build
temp